<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.png">
    
    
    <title>page</title>
  </head>
  <body>

     <%= htmlWebpackPlugin.options.localJs %>
    <%= process.env.VUE_APP_VERSION %>
    <noscript>
      <strong>We're sorry but page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">
    </div>
    <!-- built files will be auto injected -->
    <!-- 使用本地资源的JS文件 -->
    <link rel="icon" href="logo.png">	
    <script src="<%= BASE_URL %>three/three.js"></script>
		<script src="<%= BASE_URL %>three/Projector.js"></script>
		<script src="<%= BASE_URL %>three/CanvasRenderer.js"></script>
		
  </body>
</html>
